{% extends 'base.html.twig' %}

{% block title %}Editer le bénéficiaire{% endblock %}

{% block body %}
    <h1>Edit Beneficiary</h1>

    {{ include('beneficiary/_form.html.twig', {'button_label': 'Update'}) }}

    
            <button type="button" class="btn btn-light"><a href="{{ path('beneficiary_index') }}">retour à la liste</a></button>


    {{ include('beneficiary/_delete_form.html.twig') }}
{% endblock %}
